html,body {
    min-width: 300px;
}

/* This fixes the browser action popup from being too wide on Firefox, but still use full-width on the in-browser settings panel */
@-moz-document url-prefix() {
        html,body {
            max-width: 300px;
        }
        @media (min-width: 301px) {
            html,body {
                max-width: none;
            }
        }
}

select {
    overflow: auto;
}

.btn-wii {
    background: linear-gradient(
        to bottom,
        #f5fafe 0%,
        #fdfdfe 7%,
        #f2fdff 81%,
        #e8f3f8 86%,
        #e7f2f6 89%,
        #e4f0f3 93%,
        #ddeff0 100%
    );
    border: 1px solid #34bfed;
}

.btn-wii:active {
    background: linear-gradient(
        to top,
        #f5fafe 0%,
        #fdfdfe 7%,
        #f2fdff 81%,
        #e8f3f8 86%,
        #e7f2f6 89%,
        #e4f0f3 93%,
        #ddeff0 100%
    );
}

.text-success {
    color: green;
}

#included-sites, #excluded-sites {
    resize: none;
}